## Secrets
.env
*.env
.env/*
env/*
*.local
*.local.*
secret[s].*
.secret[s].*
*.secret[s].*


## Data
*.json
data/*

## Taskfile
.task/*

## Build outputs
dist/*
build/*


## Allow rules
!*example*.*
!*.*example*
