## Default: (none/empty)
#  Example: https://some-subdomain.domain.com
DASHBOARD_LIVE_URL=
## Default: 10m
#  Examples:
#    - 10m
#    - 3h
#    - 2d
DASHBOARD_REQUEST_INTERVAL=
## Default: (none/empty)
#  Examples:
#    - 02:00-07:00
#    - 02:00-07:00,14:00-19:00
DASHBOARD_QUIET_HOURS=
